@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --lm-bg: #f6f8ff;
  --lm-bg-content: #fefefe;
  --lm-text: #4b6a9b;
  --lm-text-alt: #2b3442;
  --lm-shadow-active: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-icon-bg: brightness(100%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}
body {
  background-color: var(--lm-bg);
  font-size: 13px;
}
.body {
  height:100vh;
  color: var(--lm-text);
  width: 100vw;
}
.container {
  max-width: 350px;
  margin: auto;
}
/* ============================== Navbar ============================== */
.header {
  align-items: center;
  display: flex;
  height: 78px;
  justify-content: space-between;
  padding-top: 50px;
}

.header h1 {
  font-size: 30px;
}
.mode-btn {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 38px;
  justify-content: space-between;
  letter-spacing: 2.5px;
  width: 90px;
}
.searchbar {
  background-color: var(--lm-bg-content);
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: var(--lm-shadow-inactive);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
input {
  border: none;
  width: 100%;
  outline: none;
  background: none;
  color: var(--lm-text);
  height: 100%;
  padding-left: 10px;
}
input::placeholder {
  color: var(--lm-text);
  letter-spacing: -0.5px;
  font-size: 13px;
}
#name {
  color: inherit;
}
.searchbar img {
  height: 23px;
  width: 23px;
  padding-left: 20px;
}
.btn-search {
  background-color: var(--btn);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 14px;
  height: 75%;
  margin-right: 7px;
  min-width: 84px;
}
.btn-search:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
}
.btn-search:active {
  transform: scale(0.975);
}

/* ============================== Main ============================== */
.profile-container {
  background-color: var(--lm-bg-content);
  border-radius: 15px;
  margin-top: 26px;
  padding: 20px 0 40px;
  box-shadow: var(--lm-shadow-inactive);
}

.content {
  width: 280px;
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-info-container {
  display: flex;
}
#avatar {
  width: 70px;
  height: 70px;
  border-radius: 90px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-name h2 {
  font-size: 16px;
  font-weight: bold;
  color: var(--lm-text-alt);
}
#username {
  color: var(--btn);
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 70px;
  margin-left: 20px;
  width: fit-content;
}
#bio {
  line-height: 25px;
  padding-top: 30px;
}
#date{
  padding-top: 10px;
}

.profile-stats-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 16px;
  background-color: var(--lm-bg);
  border-radius: 10px;
  text-align: center;
}
.profile-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85px;
}
#stat__title {
  font-size: 11px;
}
#stat__value {
  font-size: 16px;
  font-weight: bold;
  color: var(--lm-text-alt);
}
.profile__bottom-container {
  height: 127px;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-block {
  display: flex;
}
.bottom-icon {
  width: 20px;
  filter: var(--lm-icon-bg);
}
.bottom-text {
  margin-left: 14px;
  align-self: center;
}
.error {
  position: absolute;
}
.no-results {
  position: relative;
  color: red;
  font-weight: bold;
  left: 175px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 573px;
  }
  .profile-container {
    margin-top: 24px;
  }
  .content {
    width: 493px;
  }
  #avatar {
    width: 117px;
    height: 117px;
  }

  .profile-info-container {
    min-height: 117px;
    margin-left: 13px;
  }
  #name {
    font-size: 26px;
  }
  #username {
    font-size: 16px;
  }
  .profile-stats-container {
    padding-left: 40px;
  }
  .profile-stat {
    text-align: start;
    justify-content: center;
    flex-grow: 1;
  }
  #stat__title {
    font-size: 13px;
  }
  #stat__value {
    font-size: 25px;
    text-align: start;
  }
  .profile__bottom-wrapper {
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: space-between;
    max-height: 63px;
  }
  input {
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
  }
  .searchbar img {
    height: 26px;
    width: 26px;
    padding: 0px 7px 0px 17px;
  }
  .btn-search {
    margin-right: 10px;
    min-width: 106px;
  }
  .no-results {
    left: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 730px;
  }
  .content {
    max-width: 480px;
    padding-top: 40px;
    margin-left: 200px;
    min-height: 400px;
    max-height: 400px;
  }
  .profile-info {
    position: relative;
    right: 155px;
    max-height: 40px;
    min-width: 625px;
  }
  #avatar {
    margin-left: -160px;
    margin-right: 170px;
  }
  .profile-name {
    min-height: 100px;
    justify-content: flex-start;
  }
  .profile-info {
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
    height: 60px;
  }
  .no-results {
    left: 500px;
  }
  .searchbar {
    height: 70px;
  }

.profile__bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
  gap: 15px;
}
.bottom-block{
  display: flex;
  align-items: center;
}
#bio {
  position: relative;
  top: -50px;
}
}
